/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
admin_login_logs.sql
sf_proc_*.err
sf_proc_*.err.lock
sf_proc_*.out
sf_proc_*.out.lock
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.claude
